<div class="row">
  <div class="col-xs-6">
  <div class="panel panel-default pull-right">
    <div class="panel-body">
 
    <p> Scheduled Time </p>
        Start <%= lesson.time_slot.pretty_start%> <br /> 
        End <%= lesson.time_slot.pretty_end%> <br />
    <%=lesson.teacher.name%> <br />

		<!---<a href="/student/lesson?lesson_id=<%=lesson.id%>">View Lesson</a> <br />--->
		<a href="/lesson/lesson?lesson_id=<%=lesson.id%>">View Details</a> <br />
	
		<% if lesson.show_ready%>
			<input type="checkbox" name="my-checkbox" checked>
		<%end%>
      </div>
    </div>
  </div> <!--COL--->
  <div class="col-xs-6">
    <div class="panel panel-default pull-left">
    <div class="panel-body">
 
	  <%= render :partial=> "users/teacher", :locals => {:teacher => lesson.teacher, :page => 'student_view_lessons', :lesson => lesson},  :layout => false%>

      </div>
    </div>
  </div> <!--COL--->
</div>  <!-- row -->