<h3> Welcome to the Lesson Page! </h3>
<p> This is where the video interface will take place. </p>

<p> The class starts at <%=@timeslot.start_time%></p>
<p> The class ends at <%=@timeslot.end_time%></p>

<p> Your Status: <% if @lesson.student_ready%><button class="status ready">Ready</button>
  <%else%><button class="status not_ready">Not Ready</button> 
  <%end%></p>
<p> Teacher's Status: <div id="t_ready"><%=@teacher_status%></div></p>
<p> Teacher Online?: <div id="user_online_<%=@teacher_user.id%>"><%=@teacher_user.online%></div></p>

<p><button id="start_lesson" style="display:<%if !@ready_to_start%>none<%end%>">Start Lesson</button> </p>

<!--
<button id="user_join">  Join Class </button>
<button id="user_leave">  Leave Class </button>
-->


<div id="chat"></div>

<%= subscribe_to "/lesson/private/#{@lesson.id}" %>
<%= subscribe_to "/teacher_updates/#{@lesson.id}" %>

<%= form_tag new_message_path, :remote => true do %>
  <%= text_field_tag :message %>
<%= hidden_field_tag(:lid, value = @lesson.id)%>
  <%= submit_tag "Send" %>
<% end %>




<div class="container">
<div class="row">
  <!--
<div class="col-xs-12"><button class="btn btn-large btn-success todays_lesson" id="<%=@lesson.id%>"><%if @teacher%>Teach<%else%>Take<%end%> today's lesson</button> -->
<div class="col-xs-9">
<%=@user.first_name%>
   <div class="panel panel-default">
   <div class="panel-heading">
   		<div class="panel-title"><%=@subscriberName%></div>
   </div>
   <div class="panel-body">
   	<div class="col-xs-9">
    <div id="subscriberContainer"></div>
    </div> <!--col 8-->
   <!-- <div class="col-xs-3">
        <button class="unsubscribe btn btn-sm btn-danger">Unsubscribe</button><br />
        Start Time: <br />
        Scheduled End Time: <br />
    </div><!--col 4--> 
    </div>
    </div>
</div>
<div class="col-xs-3">
       <div class="panel panel-default">
    <div class="panel-heading">
   		<div class="panel-title"><%=@publisherName%></div>
   </div>
      <div class="panel-body">
          <div id="myPublisherDiv"></div>
          <!--    <button class="unpublish btn btn-sm btn-danger">Unpublish Stream</button>
    <button class="resizeVideo btn btn-sm btn-primary">Resize</button>
    <button class="toggleVideo btn btn-sm btn-primary" value=0>Turn Video Off</button>
    <div class="Timer"></div> -->

      </div>
   </div>   
    </div> <!--col 4-->
    
</div><!--row-->
</div> <!--Container-->
<style>
  .ready {
    background-color: 'green';
  }
  .not_ready {
    background-color: 'red';
  }
</style>
<script>
  
  
   
    PrivatePub.subscribe("/lesson/private/<%=@lesson.id%>", function(data) {
   alert(data.msg);
  });
   

    PrivatePub.subscribe("/teacher_updates/<%=@lesson.id%>", function(data) {
      console.log(data);
      if (data.status == 'true') {
        $('#t_ready').text("Ready.");
      } 
      else {
       $('#t_ready').text("Not Ready.");
      }
      if (data.start_lesson) {
        $('#start_lesson').show();
      }
      else {
        $('#start_lesson').hide();
      }
      });   
 
  $('body').on('click', '.not_ready', function() {
    $.ajax({ url:'/student/update_lesson_status', type:'POST', data: {'lid': '<%=@lesson.id%>', 'ready': 'true'} });
    $(this).removeClass('not_ready').addClass('ready');
    $(this).text('Ready');
      if ($('#t_ready').text() == 'Ready') {
       $('#start_lesson').css({'display':''});
     }
   });

   $('body').on('click', '.ready', function() {
     $.ajax({ url:'/student/update_lesson_status', type:'POST', data: {'lid': '<%=@lesson.id%>', 'ready': 'false'} });
     $(this).removeClass('ready').addClass('not_ready');
     $(this).text('Not Ready');
     console.log($('#t_ready').text());
    $('#start_lesson').css({'display':'none'});
    });

   //OPENTOK

   $(document).ready(function() {
      // Initialize API key, session, and token...
      // Think of a session as a room, and a token as the key to get in to the room
      // Sessions and tokens are generated on your server and passed down to the client
      var apiKey = "45159872"; 
      var sessionId; //="2_MX40NTE1OTg3Mn5-MTQyNDM5MjUyNzgxOH5BbDV0blZxOHkxWXZGUGJvallMOVk1WUR-fg";
      var token;// =  "T1==cGFydG5lcl9pZD00NTE1OTg3MiZzaWc9ZGZlNmM1NGNjNWRiYjI5MmU2ODE3ZjBjNTZlYjNkYzA0YTExYjIzNzpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5URTFPVGczTW41LU1UUXlORE01TWpVeU56Z3hPSDVCYkRWMGJsWnhPSGt4V1haR1VHSnZhbGxNT1ZrMVdVUi1mZyZjcmVhdGVfdGltZT0xNDI0MzkyNTU3Jm5vbmNlPTAuNTc5MjQ3MjAzODcxOTM3Ng==";
	  var session;
	  var subscriber;
	  var stream;
	  var subscriberProperties;
	  var publisherName;
	  var pHeight = 100;
	  var pWidth = 150;
	  var sHeight = 400;
	  var sWidth = 600;
	  var videoResolution = "1280x720";
	  var videoFrameRate = 30;	
	  var role = 'student'; // '<%=@user.role%>';
	
  
     

  $.ajax({
    	method: 'GET',
        url: '/lesson/get_video_keys?lid=<%=@lesson.id%>',
        dataType: 'json',	
        async: false,
        success: function(keysHash) {
        //	publisherName = keysHash.studentName;
       		sessionID = keysHash.sessionID;
       		token = keysHash.token;
       		session = OT.initSession(apiKey, sessionID);
    }
    });
  
 
/*
  session.connect(token, function(error) {
    var publisher = OT.initPublisher();
    session.publish(publisher);
  });
  */  
     
  // This is the other user, connecting in
	session.on("streamCreated", function (event) {
	  alert('other user created stream');
		stream = event.stream;
	  subscriberProperties = {insertMode: "append", height: sHeight, width: sWidth};
	 	subscriber = session.subscribe(stream, 'subscriberContainer', subscriberProperties, function (error) {
  	if (error) {
    	console.log(error);
  	}
    else {
      console.log("Subscriber added.");
  	}
		});
	});
   
     
     
     
     // This is the current user, smaller screen
 $('#start_lesson').click(function() {
     console.log('clicked');
    session.connect(token, function(error) {
    if (error) {
    alert("Error connecting: ", error.code, error.message);
      } 
     else {
      console.log("Connected to the session.");
       		publisherProperties = {name: publisherName, width: pWidth, height: pHeight, resolution: videoResolution,
	    							frameRate: videoFrameRate};
       		publisher = OT.initPublisher('myPublisherDiv', publisherProperties);
       		session.publish(publisher);
      }
     }); 
  });


     
     
     
/*
	$('.unsubscribe').click(function() {
		session.unsubscribe(stream);
	});
	
	
	$('.unpublish').click(function() {
		session.unpublish(publisher);
	});
	
	$('.resizeVideo').click(function() {
    	var pubElement = $('#myPublisherDiv');
    	pubElement.css("width","100");
    	pubElement.css("height","100");
  	});
  	
  	$('.toggleVideo').click(function() {
  		if ($(this).val() == 0 ) {
  			$(this).val(1);
  			$(this).html('Turn Video On');
  			publisher.publishVideo(false);
  		}
  		else {
  			$(this).val(0);
  			$(this).html('Turn Video Off');
  			 publisher.publishVideo(true);
  		}
  	});
  	
  	
  	var start = new Date;

	setInterval(function() {
    	$('.Timer').text((new Date - start) / 1000 + " Seconds");
	}, 1000);
*/	
   });
     
     ///////////////

   /*
  $('.start_lesson').click(function() {
     var now = new Date();
    $.ajax({
      url: '/lesson/begin',
      data: {'start_time': now, 'lesson_id': '<%=@lesson.id%>'},
      type: 'GET',
      success: function(message) {
        if (message == "Success") {
          alert("The lesson was started at " + now);
        }
        else {
           alert("You cannot start a lesson at this time."); 
        }
      },
      failure: function() {
        alert('Sorry. We were not able to connect to the database.');
      }
    })
   });
  
    $('.end_lesson').click(function() {
     var now = new Date();
    $.ajax({
      url: '/lesson/end',
      data: {'end_time': now, 'lesson_id': '<%=@lesson.id%>'},
      type: 'GET',
      success: function(message) {
        if (message == "Failure") {
          alert("You cannot end the lesson at this time."); 
        }
        else {
          alert("The lesson was ended at " + now + ". The total time was " + message +" minutes.");
        }
      },
      failure: function() {
        alert('Sorry. We were not able to connect to the database.');
      }
    })
   });

 $(function() { 
     var client = new Faye.Client('http://steady-box-12-181649.use1-2.nitrousbox.com:9292/faye')
     client.subscribe("/lessons/new", function(data) {
       if (data.teacher) {
         alert('Teacher is ready to start the class!');
       }
       else if (data.student) {
         alert('Teacher is ready to start the class!');
       
       }
                console.log(data);

       });
                      
     }); 
    

 
  $('#user_join').click(function(){
      // Publish the message to the public channel
    $.ajax({
      url: '/student/lesson_ready',
      type: 'GET',
      data: {'student_id' : '<%=@user_id%>'},
      success: function(data) {
        if (data == 'Success') {
          client.publish('/lessons/new', {
            username: 'hey',
            msg: 'msg'
          });
        }
        else {
          alert('Unable to set status to ready at this time.');
        }
      },
      failure: function() {
        alert('Unable to connect to database.');
      }
    });

    });


 */

</script>
