<%if @lessons.blank?%>
<p> There are no lessons to show. </p>
<%else%>
<%@lessons.each do |l|%>
<p> Scheduled Time </p>
Start <%= l.time_slot.start_time%> <br /> 
End <%= l.time_slot.end_time%> <br />
<%=l.teacher.name%> <br />
<%if l.start_time.blank?%>
  This lesson was never entered.
<%else%>
<%= l.start_time%> <br />
<%= l.end_time%> <br />
<%= l.rounded_time%> <br />

<% if l.student_paid %>
<p> This lesson has been paid for </p>
<% else%>
<p> You owe payment for this lesson! </p>
<%end%>
<%end%>
<%end%>
<%end%>