<div class="panel panel-default">
  <div class="panel-body">
<%=teacher.name%> <br />
<%if teacher.online%>
Teacher is online.
<%else%>
Teacher is offline.
<%end%>
<br /> 
<a href="view_teacher?id=<%=teacher.id%>">View Profile</a> <br />

<% if page == 'search_lessons' %>
	<p> <%=teacher.last_name%>'s times: </p>
	<%teacher.time_slots.each do |ts|%>
		<%if ts.lesson.blank?%>
			<%=ts.start_time%> to <%=ts.end_time%> <a  href="sign_up?ts_id=<%=ts.id%>" class="sign_up" id="<%=ts.id%>">Sign Up </a> <br />
		<%end%>
	<%end%>
		<hr>
	<p> <%=teacher.name%>'s class types. </p>
		<%teacher.services.each do |service| %>
			<%= service.language_name + ', ' + service.level_name + ', ' + service.type_name%><br />
		<%end%>
<%end%>
<% if page == 'student_view_lessons'  && lesson.show_ready %>
	Teacher is <%if lesson.teacher_ready %> Ready <%else%> Not Ready <%end%>
<%end%>
<%if page == 'favorites'%>
	<button class="btn-success add-favorite-teacher" id="<%=teacher.id%>">Add Favorite</button>
<%elsif page == 'already_favored'%>
	<button class="btn-danger remove-favorite-teacher" id="<%=teacher.id%>">Remove Favorite</button>
<%end%>
</div>
</div>