<div class="row">
<div class="panel panel-default">
  <div class="panel-heading"><%= link_to 'Edit', edit_user_path(@user), class: "btn btn-success btn-sm pull-right" %></div>
  <div class="panel-body">
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <p> Here's what people see about you! <br />
          <%= @user.description %>  </p>
        </div><!--panel body-->
      </div><!--panel-->
     </div><!--col-xs-8-->
    <div class="col-xs-4">
        <div class="panel panel-default">
        <div class="panel-body">
          <p><%= @user.profile_picture %> </p>
        </div><!--panel body-->
      </div><!--panel-->
    </div><!--col-xs-6-->
   </div>
</div><!--row-->



