<h1>Listing interview_questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interview_questions.each do |interview_question| %>
  <tr>
    <td><%= interview_question.question_id %></td>
    <td><%= interview_question.question %></td>
    <td><%= link_to 'Show', interview_question %></td>
    <td><%= link_to 'Edit', edit_interview_question_path(interview_question) %></td>
    <td><%= link_to 'Destroy', interview_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Interview question', new_interview_question_path %>
