<h3> Welcome to the Lesson Page! </h3>
<p> This is where the video interface will take place. </p>

<p> The class starts at <%=@timeslot.start_time%></p>
<p> The class ends at <%=@timeslot.end_time%></p>
<%if @current_time > @timeslot.end_time%>
<p> The lesson date has passed.</p>
  <p>The lesson was <%=@taken ? "" : "not"%> taken.</p>
  <%if @teacher_paid%>
    <p> You have been paid for this lesson. <button>View Payments</button> </p>
  <%else%>
    <p> Payment pending for this lesson </p>
    <p> The teacher has <%= @teacher_paid ? "" : "not" %> been paid for this lesson. </p>
    <p> The student has <%=@student_paid ? "" : "not" %> paid for this lesson. </p>
  <%end%>
    <p> You are the teacher. You need to <button class="begin_lesson">Begin Lesson</button> </p>
<p><button class="end_lesson">End Lesson</button></p>

<button id="user_join">  Join Class </button>
<button id="user_leave">  Leave Class </button>

<p id="s_ready"><% if @lesson.student_ready%> Student is ready. <%else%> Student is not ready <%end%> </p>
<p> Your Status: <button class="status not_ready">Not Ready</button> </p>

<div id="chat"></div>
<%end%>

<%= subscribe_to "/lesson/private/#{@lesson.id}" %>
<%= subscribe_to "/student_updates/#{@lesson.id}" %>



<%= form_tag new_message_path, :remote => true do %>
  <%= text_field_tag :message %>
<%= hidden_field_tag(:lid, value = @lesson.id)%>
  <%= submit_tag "Send" %>
<% end %>
<script>
  
  
  
  PrivatePub.subscribe("/lesson/private/<%=@lesson.id%>", function(data) {
   alert(data.msg);
  });
  
  PrivatePub.subscribe("/student_updates/<%=@lesson.id%>", function(data) {
          console.log(data);
    if (data.status == 'true') {
        $('#s_ready').text("Ready.");
      } 
    else {
       $('#s_ready').text("Not Ready.");
    }});


  
  $('body').on('click', '.not_ready', function() {
    $.ajax({ url:'/teacher/update_lesson_status', type:'POST', data: {'lid': '<%=@lesson.id%>', 'ready': 'true'} });
    $(this).removeClass('not_ready').addClass('ready');
    $(this).text('Ready');
   });

   $('body').on('click', '.ready', function() {
     $.ajax({ url:'/teacher/update_lesson_status', type:'POST', data: {'lid': '<%=@lesson.id%>', 'ready': 'false'} });
     $(this).removeClass('ready').addClass('not_ready');
     $(this).text('Not Ready');
    });

   
  /*
  $('.begin_lesson').click(function() {
     var now = new Date();
    $.ajax({
      url: '/lesson/begin',
      data: {'start_time': now, 'lesson_id': '<%=@lesson.id%>'},
      type: 'GET',
      success: function(message) {
        if (message == "Success") {
          alert("The lesson was started at " + now);
        }
        else {
           alert("You cannot start a lesson at this time."); 
        }
      },
      failure: function() {
        alert('Sorry. We were not able to connect to the database.');
      }
    })
   });
  
    $('.end_lesson').click(function() {
     var now = new Date();
    $.ajax({
      url: '/lesson/end',
      data: {'end_time': now, 'lesson_id': '<%=@lesson.id%>'},
      type: 'GET',
      success: function(message) {
        if (message == "Failure") {
          alert("You cannot end the lesson at this time."); 
        }
        else {
          alert("The lesson was ended at " + now + ". The total time was " + message +" minutes.");
        }
      },
      failure: function() {
        alert('Sorry. We were not able to connect to the database.');
      }
    })
   });

 $(function() { 
     var client = new Faye.Client('http://steady-box-12-181649.use1-2.nitrousbox.com:9292/faye')
     client.subscribe("/lessons/new", function(data) {
       if (data.teacher) {
         alert('Teacher is ready to start the class!');
       }
       else if (data.student) {
         alert('Teacher is ready to start the class!');
       
       }
                console.log(data);

       });
                      
     }); 
    

 
  $('#user_join').click(function(){
      alert('user clicked');
      // Publish the message to the public channel
      client.publish('/lessons/new', {
        username: 'hey',
        msg: 'msg'
      });
    });

*/
 

</script>
