
<%@time_slots.each do |ts|%>
<%lesson = Lesson.where(:time_slot_id => ts.id)%>
<%if !lesson.blank? %>
<p> This time slot is booked.  
<a href="/lesson/lesson?lesson_id=<%=lesson.first.id%>">View Lesson</a> <br />
</p>
<%end%>
<%= ts.start_time%> <br />
<%= ts.end_time%>  <br />
<br />
<%end%>

<%@lessons.each do |sl| %>
<a href="/lesson/review?lid=<%=sl.id%>">Lesson Review </a>
<%=sl.student_id%> <br />
<%=sl.time_slot_id%> <br />
<%=sl.start_time %> <br />
<%=sl.end_time %> <br />
<%=sl.rounded_time%> <br />
<%=sl.student_paid%> <br />
<%=sl.teacher_paid%> <br />
<%=sl.token%> <br />
<%=sl.session_id%> <br />
<br />
<%end%>

<a href="/time_slots/new"> Create new Time Slot</a>

<h4> The goal of this calendar is to show when students have signed up for classes in the future.
It also acts as a tool to edit your weekly schedule. If no student has signed up for a slot, you may
change  the schedule as needed. If a student has signed up for the slot, request cancellation.
</h4>
<div id="calendar"></div>

