<div class="row">
	<div class="col-xs-7">
<div id="render_selection">
		<%= render "lessons/render_filtered_results" %>
</div>
	</div>
	<div class="col-xs-5">
		<h3> Filter Options </h3>
        <div class="form-group">
			                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon" id="click-open-1">
                        <span class="glyphicon glyphicon-calendar" ></span>
                    </span>
                </div>
			<div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon" id="click-open-2">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="Search for...">
			      <span class="input-group-btn">
			        <button id="search" class="btn btn-default" type="button">Go!</button>
			      </span>
			    </div><!-- /input-group -->

			<label for="skill_level">Skill Level</label> 
				<select id="skill_level" name="skill_level" class="form-control class-filter">
					<option value="">Filter by Skill Level</option>
				<% @skill_levels.each do |level|%>
					<option value="<%=level.id%>"><%=level.level%></option>
				<%end%>
				</select>
			<label for="language">Language</label> 
				
				<select id="language" name="language" class="form-control class-filter">
									<option value="">Filter by Language</option>
					<% @languages.each do |language|%>
						<option value="<%=language.id%>"><%=language.language%></option>
					<%end%>
				</select>
			<label for="class_type">Class Type</label>
				<select id="class_type" name="class_type" class="form-control class-filter">
										<option value="">Filter by Type of Class</option>
					<% @class_types.each do |class_type|%>
						<option value="<%=class_type.id%>"><%=class_type.type_of_class%></option>
					<%end%>
				</select>
		</div>
	</div>
</div>


        <script type="text/javascript">
            $(function () {
				
				var json_data = { skill_level: "", language: "", class_type: ""};
				var date_time_picker1 =  $('#datetimepicker1');
               var date_time_picker2 = $('#datetimepicker2');
			   var date_time_picker1_button = $('#click-open-1');
			   var date_time_picker2_button = $('#click-open-2');
			   date_time_picker1.datetimepicker({stepping: 15, sideBySide: true, useCurrent: true});
			   date_time_picker2.datetimepicker({stepping: 15, sideBySide: true, useCurrent: true});
			
				$('.class-filter').change( function() {
					updateClassSelection($(this));
				});
			
				function updateClassSelection(_this) {
					var sel_type = _this.attr('id');
					var sel_value = _this.val();
					json_data[sel_type] = sel_value; //updates to maintain all selections
					console.log(json_data);
					$.ajax({
						url: '/render_filtered_results',
						data: json_data,
						dataType: 'HTML',
						type: 'POST',
						success: function(render_html) {
							$('#render_selection').html(render_html);
						}
					});
				}
		
			
			});
        </script>




                 