<h3> Services You Offer </h3>
<%@services.each do |s|%>
<%= s.service.language.language%>, <%=s.service.types_of_class.type_of_class%>, <%=s.service.level.level%> <br />
<%end%>

<h3> New Service </h3>
<select id="language">
  <%@languages.each do |l|%>
  <option value="<%=l.id%>"><%=l.language%></option>
  <%end%>
</select> <br  />
<button id="add_service">View Class Type</button>
<div class="service_selection">
<select id="service">
  <%@types_of_classes.each do |s|%>
  <option value="<%=s.id%>"><%=s.type_of_class%>, <%=s.description%></option>  <%end%>
</select> 
</div>
<br />
<button id="add_levels">View Levels</button>
<div class="level_selection">
<p> Select the highest level for the language and service you feel comfortable with. Please refer to the level descriptions. </p>
<select id="level">
  <%@levels.each do |l|%>
  <option value="<%=l.id%>"><%=l.level%>, <%=l.description%></option>
  <%end%>
</select>
</div>
<br />

<button class="offer_service">Offer Service </button>

<script>
  
  $('.offer_service').click( function() {
    var language_id = $('#language').val();
    var service_id = $('#service').val();
    var level_id = $('#level').val();

    $.ajax({ 
      url: '/teacher/save_service',
      type: 'GET',
      data: {'language_id': language_id, 'service_id': service_id, 'level_id': level_id},
      success: function(text) {
        if (text == "Success") {
          alert(text + '!');
          location.reload();
        }
        else if (text == "Failure") {
          alert("Was unable to save Service information.");
        }
        else if (text == "Higher"){
           alert("You are already offering thise service at a higher level.");
        }
        else {
          alert("Service is alread being offered.")       
        }
      },
      failure: function() {
         alert("Something went wrong."); 
      }
      }); });
  
  
    $('#add_service').click(function() {
      $('.service_selection').show();
  })
    
  $('#add_levels').click(function() {
      $('.level_selection').show();
  });
        $('.service_selection').hide();

        $('.level_selection').hide();

  
</script>