<!DOCTYPE html>
<html>
<head>
  <title>Elp2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://steady-box-12-181649.use1-2.nitrousbox.com:9292/faye.js" %>
  <%= csrf_meta_tags %>
      <script src='http://static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
-->
</head>
<body>
 <!--<div class="header">
  <b><ul>
  <li><a href="/">Logout</a></li>
  <li><a href="/home">Home</a></li>
  </ul>
  </b> 
  </div> -->
<div id="user_nav">
  <% if identity_signed_in? %>
  Signed in as <%= current_identity.email %>.
  <%= link_to 'Sign out', destroy_identity_session_path, :method => :delete, :class => "sign_out" %>
  <a href="/home">HOME</a>  
  <% else %>
        <%= link_to 'Register', new_identity_registration_path %> or <%= link_to 'Sign in', new_identity_session_path %>
    <% end %>
</div>

<%= yield %>

<div class="footer">
  <p> this is the footer</p>
</div>
  
</body>
</html>
<%= subscribe_to "/user_updates" %>

<script>
  PrivatePub.subscribe("/user_updates", function(data) {
     var user_elem = $('#user_online_' + data.uid);
     if (user_elem.length > 0) {
       if (data.status == 'true') {
                  console.log('true!');

         user_elem.text('true');
       }
       else {
                  console.log('false!');

         user_elem.text('false');
       }
     }
  });

  $('.sign_out').click(function(event) {
    $.ajax({url: '/update_online_status', type: 'GET', data: {'status': false}, async: false,
            failure: function() {
               alert('failed');  
            },
           success: function() {
           }}
          );
  });
  
</script>
